*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #181c1f;
    display: flex;
    justify-content: center;
}
.container{
    position: relative;
    height: 300px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 2px solid #fff; */
}
.cloud{
    width: 320px;
    height: 100px;
    background-color: #fff;
    border-radius: 100px;
    position: relative;

}
.cloud::before{
    content: '';
    display: block;
    width: 100px;
    height: 110px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -50px;left: 40px;
    box-shadow: 90px 0 0 30px #fff;
}
.rain{
    position: absolute;
    display: flex;
}
.rain span{
    position: relative;

    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 0 2px;
    border-radius: 50%;
    animation: rain .8s ease-in  infinite  ;
    color: transparent;
}
@keyframes rain{
    0%{
        transform: translateY(0) scale(1);
    }
    70%{
        transform: translateY(400px) scale(1);
    }
    100%{
        transform: translateY(400px) scale(0);
    }
}
.rain>span:nth-last-of-type(2){
    animation-delay: .1s;
}
.rain>span:nth-last-of-type(3){
    animation-delay: .3s;
}
.rain>span:nth-last-of-type(4){
    animation-delay: .5s;
}
.rain>span:nth-last-of-type(5){
    animation-delay: .7s;
}
.rain>span:nth-last-of-type(6){
    animation-delay: .9s;
}
.rain>span:nth-last-of-type(7){
    animation-delay: 1s;
}
.rain>span:nth-last-of-type(8){
    animation-delay: 1.5s;
}
.rain>span:nth-last-of-type(9){
    animation-delay: 1s;
}
.rain>span:nth-last-of-type(10){
    animation-delay: .4s;
}
.rain>span:nth-last-of-type(11){
    animation-delay:1s;
}
.rain>span:nth-last-of-type(12){
    animation-delay: .3s;
}
.rain>span:nth-last-of-type(13){
    animation-delay: .7s;
}
.rain>span:nth-last-of-type(14){
    animation-delay: .6s;
}
.rain>span:nth-last-of-type(15){
    animation-delay: .7s;
}
.rain>span:nth-last-of-type(16){
    animation-delay: 1.2s;
}
.rain>span:nth-last-of-type(17){
    animation-delay: .7s;
}
.rain>span:nth-last-of-type(18){
    animation-delay: .8s;
}
.rain>span:nth-last-of-type(19){
    animation-delay: .2s;
}
.rain>span:nth-last-of-type(20){
    animation-delay: .4s;
}
.rain>span:nth-last-of-type(21){
    animation-delay: .7s;
}